@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.5;
  font-family: "Lexend", sans-serif;
  font-style: normal;
}

body {
  background-color: #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

/* card styles */
.profile-card {
  background-color: #fffaf2;
  padding: 2rem;
  border-radius: 16px;
  margin: 2rem;
}
